*,
*::before,
*::after {
    box-sizing: border-box;
}

*:active,
*:focus {
    outline: none;
}

/* Custom Properties */

:root {
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-graph-des-text: hsl(167, 40%, 24%);
    --primary-photo-text: hsl(198, 62%, 26%);
    --primary-cyan-footer: hsl(168, 34%, 41%);

    --neutral-v-dark-desat-blue: hsl(212, 27%, 19%);
    --neutral-v-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-cyan-footer: hsl(168, 34%, 65%);
    --white: hsl(0, 0%, 100%);

    --fs-bodycopy: 18px;
    --ff-primary: Barlow, Montserrat, sans-serif;
    --ff-secondary: Fraunces, Roboto, serif;
    --fw-primary: 600;
    --fw-second-bold: 700;
    --fw-second-xbold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--white);
    color: var(--neutral-v-dark-desat-blue);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-bodycopy);
    line-height: 1.6;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    overflow-x: inherit;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-second-xbold );}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.paraph {
    color: var(--neutral-dark-grayish-blue);
    font-weight: var(--fw-primary);
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--white);
    background: url(./images/mobile/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: inherit;
    height: 100%;
}

/* Navbar Section */

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1.75em;
    width: inherit;
}

.nav-list {
    display: none;
}

.nav-toggle {
    cursor: pointer;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 86vh;
}

.hero h1 {
    text-transform: uppercase;
    line-height: 1.2;
}

/* End Header */


/* Main Section */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    overflow-x: inherit;
}

.sections {
    padding: 0;
    margin: 0 auto;
    width: inherit;
    text-align: center;
}

.sections section {
    padding: 0;
}

/* Transform and Stand-out section */

.transform-stand__info {
    padding: 3.5em 1.5em;
}

.transform-stand__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-second-xbold);
    color: var(--neutral-v-dark-desat-blue);
    position: relative;
}

.transform-stand__link::after {
    content: "";
    display: block;
    height: .625em;
    position: absolute;
    top: calc(100% - 0.625em);
    left: 50%;
    width: 115%;
    transform: translateX(-50%);
    border-radius: .3125em;
    z-index: -5;
    opacity: 0.6;
}

.transform-stand__link:hover::after {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.stand-link::after {
    background-color: #EE7C6C;
}

.transform-link::after {
    background-color: #F7D21A;
}

/* Graphic Design and Photography */

.design-photo {
    margin: 0;
    padding: 0;
    width: inherit;
}

.design-photo__text {
    padding: 2.5em 1.5em;
}

.design-photo-item {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.design-photo__text {
    margin: 0;
}

.design {
    background: url(./images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--primary-graph-des-text);
}

.design p {
    color: var(--primary-graph-des-text);
}

.photo {
    background: url(./images/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--primary-photo-text);
}

.photo p {
    color: var(--primary-photo-text);
}

/* Testimonials Section */

.testimonials {
    padding: 2em .5em;
    margin-top: 1em;
}

.testimonies {
    margin: 0;
    padding: 0;
    display: inherit;
    width: inherit;
}

.testimonials-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3em;
}

.client-one {
    background: url(./images/image-emily.jpg);
}

.client-two {
    background: url(./images/image-thomas.jpg);
}

.client-three {
    background: url(./images/image-jennie.jpg);
}

.testimonials-item__image {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
}

.testimonials-item__text {
    color: var(--neutral-v-dark-grayish-blue);
    padding: .5em 1.5em;
}

.testimonials-title,
.client-job {
    color: var(--neutral-grayish-blue);
}

.client-job {
    font-size: var(--fs-bodycopy);
    font-weight: var(--fw-primary);
}

.testimonials-title {
    text-transform: uppercase;
    font-size: var(--fs-h3);
    letter-spacing: 4px;
    margin-bottom: 4em;
}

/* End Main Section */


/* Illutstrations Section */

.more-illustrations {
    display: grid;
    grid-template-areas: 
        "item-one item-two"
        "item-three item-four";
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

/* Footer */

.footer {
    background: var(--neutral-cyan-footer);
    color: var(--primary-cyan-footer);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x: inherit;
}

.footer-item {
    display: block;
    color: var(--primary-cyan-footer);
    margin-top: 1em;
}

.footer-item__list {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 0;
    list-style: none;
    color: var(--primary-cyan-footer);
}

.footer-links__item:hover,
.social-links__item:hover {
    color: #fff;
    transition: color .3s ease-in-out;
}

.footer-links,
.social-links {
    padding-bottom: 1em;
}

.footer-links {
    width: 300px;
}

.social-links {
    padding-top: 8px;
    width: 180px;
    margin-top: 1em; 
}

.social-links__item {
    cursor: pointer;
}

.social-links__item path {
    fill: #2c7566;
    fill-rule: nonzero;
    transition: fill .3s ease-in-out;
}

.social-links__item a:hover path {
    fill: #fff;
}

.footer-links__item a{
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-second-xbold);
}

/* End footer */

@media (min-width: 750px) {

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--white);
    background: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: inherit;
    height: 100%;
}

/* Navbar Section */

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1.75em;
    width: inherit;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 86vh;
}

.hero h1 {
    text-transform: uppercase;
    line-height: 1.6;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: -0.8em 0 0 0;
    padding: 0 1em;
}

.nav-list__link {
    text-decoration: none;
    color: var(--white);
    font-weight: var(--fw-primary);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
    width: 6em;
    height: 2em;
    border-radius: 1em;
    text-transform: uppercase;
    background: #FFF;
    color: var(--neutral-v-dark-desat-blue);
    text-align: center;
}

.contact:hover {
    background: #FFFFFF55;
    color: var(--white);
    transition: all .4s ease-in-out;
}
/* End Header */

/* Main section */

/* Transform and Stand section */

.transform {
    display: flex;
    flex-direction: row-reverse;
}

.stand {
    display: flex;
    flex-direction: row;
}

.transform-stand__info {
    margin: 0 auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 7.5em;
}

.transform-info__title {
    font-size: var(--fs-h3);
}
/* Graphic Design and Photography */

.design-photo {
    display: flex;
    flex-direction: row;
}

.design {
    background: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 50%  ;
}

.photo {
    background: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.design-photo__text {
    padding: 2.5em 10em;
}

/* Testimonials Section */

.testimonials {
    padding: 2em .5em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-title {
    margin-bottom: .6em;
}

.testimonies {
    margin: 0;
    padding: 0;
    display: inherit;
    width: inherit;
}
/* Illutstrations Section */

.more-illustrations {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}
}


@media (min-width: 750px) and (orientation: portrait) {

    .nav-list {
        display: none;
    }
    
    .nav-toggle {
        display: flex;
    }

    .transform-stand-item {
        height: auto;
    }

    .transform-stand__info {
        padding: 2em;
    }

    .transform-stand__image {
        max-width: 50%;
        height: auto;
        aspect-ratio: 6 / 5;
    }

    .design-photo__text {
        padding: .2em .8em;
    }

    .design-photo-item {
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .testimonials {
        padding: 2em .5em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 750px) and (max-width: 800px) and (orientation: landscape) {
    .nav-list {
        display: flex;
        width: 55%;
    }
    
    .nav-toggle {
        display: none;
    }
    .transform-stand-item {
        height: auto;
    }

    .transform-stand__info {
        padding: 2em;
    }

    .transform-stand__image {
        max-width: 50%;
        height: auto;
        aspect-ratio: 6 / 5;
    }

    .design-photo__text {
        padding: .2em .8em;
    }

    .design-photo-item {
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .testimonials {
        padding: 2em .5em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 800px) and (max-width: 960px) and (orientation: landscape) {
    .nav-list {
        display: flex;
        width: 50%;
    }
    
    .nav-toggle {
        display: none;
    }
    .transform-stand-item {
        height: auto;
    }

    .transform-stand__info {
        padding: 2em;
    }

    .transform-stand__image {
        max-width: 50%;
        height: auto;
        aspect-ratio: 6 / 5;
    }

    .design-photo__text {
        padding: .2em .8em;
    }

    .design-photo-item {
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .testimonials {
        padding: 2em .5em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 960px) and (max-width: 1000px) and (orientation: landscape) {
    .nav-list {
        display: flex;
        width: 42%;
    }
    
    .nav-toggle {
        display: none;
    }
    .transform-stand-item {
        height: auto;
    }

    .transform-stand__info {
        padding: 2em;
    }

    .transform-stand__image {
        max-width: 50%;
        height: auto;
        aspect-ratio: 6 / 5;
    }

    .design-photo__text {
        padding: .2em .8em;
    }

    .design-photo-item {
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .testimonials {
        padding: 2em .5em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1000px) and (max-width: 1150px) and (orientation: landscape) {
    .nav-list {
        display: flex;
        width: 40%;
    }
    
    .nav-toggle {
        display: none;
    }
    .transform-stand-item {
        height: auto;
    }

    .transform-stand__info {
        padding: 2em;
    }

    .transform-stand__image {
        max-width: 50%;
        height: auto;
        aspect-ratio: 6 / 5;
    }

    .design-photo__text {
        padding: .8em 1.2em;
    }

    .design-photo-item {
        height: 342px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .testimonials {
        padding: 2em .5em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }
}
